.container-fluid {
    background-color: orange;
}
.button {
    background-color: gray;
    scrollbar-highlight-color: white;
    border: none;
    outline:none;
}

.team_icon {
    max-width: 30%;
}

.card {
    
    text-align: center;
    align-items: center;
}

.player-image {
    max-width:100%;
}



#team_icon {
    height: 50%;
    width: auto;
}

.schedule_column {
    height: 100px;
}

#team1 {
    text-align: right;
}

#team2 {
    text-align: left;
}

.point_column, .date{
    height: 50px;
    text-align: center;
    align-self: center;
}

.col.replay {
    text-align: right;
}

#carousel iframe {
    width: 100%;
    height: 100%;
}
